@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  background-color: #E5E5E5;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.row {
  margin-top: 2em;
}
.light {
  background: white;
  padding: 2em 0;
  margin-top: 2em;
}
.light .row {
  margin: 0;
}
.col {
  padding: 1em;
}
.fifty {
  width: 50%;
}
.graphiq {
  width: 100%;
  position: relative;
  display: flex;
}
.graphiq__graph-layout {
  flex: 1;
  overflow-x: hidden;
}
.graphiq__graph-values {
  font-size: 0.75em;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.25em;
  text-align: right;
  font-weight: bold;
}
.graphiq__line {
  fill: none;
  stroke-miterlimit: 10;
}
.graphiq__graph-key {
  display: flex;
  justify-content: space-between;
}
.graphiq__graph-key .key {
  font-size: 0.75em;
  text-align: center;
  display: block;
}
.graphiq__y-division {
  fill: none;
  stroke-miterlimit: 10;
  z-index: -1;
  transition: 0.25s ease-in;
}
.graphiq__graph-dot {
  transition: stroke-width ease-in-out 0.2s;
  transform-origin: 50% 50%;
}
.graphiq__value-dialog {
  display: block;
  position: absolute;
  background: transparent;
  font-size: 0.75em;
  line-height: 0;
  padding: 0.66em 0.33em;
  font-weight: bold;
  animation: float 0.3s ease-out forwards;
}
@keyframes float {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY();
  }
}
.heading1 {
  border-radius: 10px;
}
.table1 {
  border: solid;
  border-width: 1px 0;
  border-color: black;
  border-radius: 10px;
}

.table2 {
  margin-top: 27px;
  border-color: black;
  border-radius: 10px;
  background-color: #f7f9fa;
  color: #707683;
  border: 1px solid black;
  text-align: center;
}

th {
  color: #707683;
  background-color: #f7f9fa;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
}

.orderid {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.01em;
  color: #707683;
}

.details {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.01em;
  max-width: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.prod {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.75rem;
}

.pending {
  border-radius: 6px;
  background-color: #ffb946;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
  height: 100%;
  width: 60%;
}
.link {
  max-width: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.addlink {
  background-color: #c2fbd7;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: #008000;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 50px;
  padding: 0 25px;
  transition: all 200ms;
}
.approved {
  border-radius: 6px;
  background-color: #2ed47a;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
  height: 100%;
  width: 60%;
}
/* .btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet);
  --bs-btn-border-color: var(--bd-violet);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
} */
/* .row {
  margin-top: 2em;
}


.light {
  background: white;
padding: 2em 0;
margin-top: 2em;
}
.row {
  margin: 0;
}


.col {
  padding: 1em;
}

.fifty {
  width: 50%;
}

.graphiq {
width: 100%;
position: relative;
display: flex;

&__graph-layout {
  flex: 1;
  overflow-x: hidden;
}

&__graph-values {
  font-size: 0.75em;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.25em;
  text-align: right;
  font-weight: bold;
}

&__line {
  fill: none;
  stroke-miterlimit: 10;
}

&__graph-key {
  display: flex;
  justify-content: space-between;
  .key {
    font-size: 0.75em;
    text-align: center;
    display: block;

  }
}

&__y-division {
  fill: none;
  stroke-miterlimit: 10;
  z-index: -1;
  transition: 0.25s ease-in;
}
&__graph-dot {
  transition: stroke-width ease-in-out 0.2s;
  transform-origin: 50% 50%;
}

&__value-dialog {
  display: block;
  position: absolute;
  background: transparent;
  font-size: 0.75em;
  line-height: 0;
  padding: 0.66em 0.33em;
  font-weight: bold;
  animation: float 0.3s ease-out forwards;
}

}
@keyframes float {
0% {
  opacity: 0;
  transform: translateY(20px);
}
100% {
  opacity: 1;
  transform: translateY();
}
} */

.description {
  border-radius: 10px;
  width: 774px;
  height: 350px;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
}

label h6 {
  text-align: left;
}

#drop_zone {
  border: 5px solid blue;
  width: 200px;
  height: 100px;
}

.orderno {
  display: flex;
  flex-direction: row;
}

.paid {
  background-color: grey;
  width: 60px;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  height: 18px;
  margin-right: 6px;
  margin-top: 15px;
}
.unfulfilled {
  background-color: #ffd633;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  height: 18px;
  margin-right: 6px;
  margin-top: 15px;
}
.no {
  margin-right: 6px;
  font-size: 25px;
  margin-top: 4px;
}
.square {
  font-size: 30px;
  margin-right: 10px;
  margin-top: 2px;
}
.date {
  margin-left: 50px;
  opacity: 0.7;
}
.item1 {
  grid-area: menu;
  background-color: white;
  border-radius: 10px;
  width: 760px;
  height: 220px;
}
.item2 {
  grid-area: graph;
  background-color: white;
  border-radius: 10px;
  width: 760px;
  height: 240px;
}
.item3 {
  grid-area: right;
  background-color: white;
  border-radius: 10px;
  width: 320px;
  height: 475px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "menu menu menu right"
    "graph graph graph right";
  column-gap: 10px;
  row-gap: 15px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 15px;
  width: 1110px;
}
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
#id {
  display: block;
}
.grid-container1 {
  display: grid;
  grid-template-areas: "post prod" "graph prod";
  column-gap: 10px;
  row-gap: 15px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 15px;
  width: 1110px;
}

.itema {
  grid-area: post;
  background-color: white;
  border-radius: 10px;
  width: 365px;
  height: 360px;
}

.itemb {
  grid-area: graph;
  background-color: white;
  border-radius: 10px;
  width: 365px;
  height: 330px;
}

.itemc {
  grid-area: prod;
  background-color: white;
  border-radius: 10px;
  width: 700px;
  height: 705px;
}

.img {
  margin-left: 40px;
  margin-bottom: 25px;
  float: left;
}

.tagprod {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-left: 40px;
  margin-top: 25px;
  line-height: 18px;
  margin-top: 25px;
}

.remprod {
  width: 164.01px;
  height: 33.44px;
  border: none;
  background: #90a0b7;
  border-radius: 8px;
  margin-left: 20px;
}

.stock {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #90a0b7;
  margin-left: 20px;
  margin-top: 0px;
}

.det {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #334d6e;
  line-height: 22px;
  margin-left: 20px;
  margin-top: 20px;
}

.detail {
  display: inline-block;
  height: 160px;
  background: rgba(196, 196, 196, 0.15);
  border-radius: 10px;
  width: 420px;
  margin-left: 50px;
}

.addprod {
  background: #f6f6f6;
  border-radius: 10px;
  border: none;
  width: 620px;
  height: 40px;
  margin-top: 15px;
}
.sale {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-left: 25px;
  margin-top: 30px;
  line-height: 18px;
  margin-top: 25px;
}
.itemi {
  grid-area: total;
  background-color: white;
  border-radius: 10px;
  width: 295px;
  height: 128px;
}

.itemj {
  grid-area: today;
  background-color: white;
  border-radius: 10px;
  width: 295px;
  height: 128px;
}

.itemk {
  grid-area: report;
  background-color: white;
  border-radius: 10px;
  width: 780px;
  height: 265px;
}

.grid-container3 {
  display: grid;
  grid-template-areas: "total report" "today report";
  column-gap: 20px;
  row-gap: 9px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 15px;
  width: 1110px;
  margin-bottom: -50px;
}

.totalrev {
  font-family: "Renner*";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #93a3ab;
  margin-left: 135px;
  margin-top: 40px;
}

.norev {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
  margin-left: 135px;
  margin-top: 17px;
}

.growth {
  font-family: "Renner*";
  font-style: normal;
  font-weight: 700;
  font-size: 11.5789px;
  text-align: center;
  color: #65c565;
  width: 45px;
  height: 15px;
  background-color: #e3f4e3;
  border-radius: 11.5789px;
  margin-left: 210px;
  margin-top: -38px;
  padding-top: 1px;
}

.decline {
  font-family: "Renner*";
  font-style: normal;
  font-weight: 700;
  font-size: 11.5789px;
  text-align: center;
  color: #c56565;
  width: 45px;
  height: 15px;
  background-color: #f4e3e3;
  border-radius: 11.5789px;
  margin-left: 210px;
  margin-top: -38px;
  padding-top: 1px;
}

.report {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.05em;
  color: #000000;
  margin-left: 25px;
  margin-top: 30px;
}
.headingx {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-top: -10px;
  margin-left: 205px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 800px;
  height: 1000px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.inventory {
  background-color: white;
  border-radius: 10px;
  width: 775px;
  height: 165px;
  margin-left: 10px;
  margin-top:10px;
}
.options{
  background-color: white;
  border-radius: 10px;
  width: 775px;
  margin-left: 10px;
  margin-top:10px;
}
.option1{
  background-color: #666666;
  width:55px;
  color:black;
  border-radius:15px;
}
.option2{
  background-color: #666666;
  width:80px;
  color:black;
  border-radius:15px;
}
.option3{
  background-color: #666666;
  width:65px;
  color:black;
  border-radius:15px;
}
.option4{
  background-color: #666666;
  width:90px;
  color:black;
  border-radius:15px;
}
.variants {
  background-color: white;
  border-radius: 10px;
  width: 775px;
  /* height: 165px; */
  margin-left: 10px;
  margin-top:10px;
}
.title {
  background-color: white;
  border-radius: 10px;
  width: 775px;
  height: 250px;
  margin-left: 10px;
  margin-top: 10px;
}
.grid-container4{
  display: grid;
  grid-template-areas: "post report1" "tag report1";
  column-gap: 20px;
  row-gap: 9px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 15px;
  width: 1110px;
  margin-bottom: -50px;
}

.itema1{
  grid-area: report1;
  background-color: white;
  border-radius: 10px;
  width: 725px;
  height: 730px;
}

.itema2{
  grid-area: tag;
  background-color: white;
  border-radius: 10px;
  width: 365px;
  height: 360px;

}

/* .grid-container > div {S
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */
